---
view: access.html
---


<script>
    loadScript([
        'assets/js/access.js'
    ]);
</script>

<div class="center-block w-xxl w-auto-xs p-y-md text-center">
    <div class="p-a-md" id="forgetPasswordHolder">
        <div id="showAlert">
        </div>

        <div>
            <h4>Forgot your password?</h4>
            <p class="text-muted m-y">
                Enter your email below and we will send you instructions on how to change your password.
            </p>
        </div>
        <form name="reset" action="#" id="flextreamforgetPassword">
            <div class="form-group">
                <input type="email" placeholder="Email" class="form-control" required>
            </div>

            <input type='submit' value="Reset Password" class="btn btn-lg p-x-lg"/>
        </form>
        <div class="p-y-lg">
            Return to
            <a href="#/signin" class="text-primary _600">Sign in</a>
        </div>
    </div>
</div>
