<style>
    .black {
        background-color: #111114;
    }
</style>

<div class="app dk" id="app" style="background: url('../img/flexbg_modal.png') center top no-repeat ;
    background-size: cover;">
    <div class="padding">
        <div class="navbar">
            <div class="pull-center">
                <a href="#/" class="navbar-brand md">
                    <img src="assets/img/flextream.png" style="max-height: 48px;margin-top: 10px;">
                </a>
            </div>
        </div>
    </div>
    <div id="accessContainer">
        {{body}}
    </div>
</div>