<script>
    loadCss('assets/mediaelement/build/mediaelementplayer.min.css');
    loadCss('assets/mediaelement/build/mep.css');
    loadCss('assets/css/owl.carousel.min.css');
    loadCss('assets/css/owl.theme.css');
    loadScript([
        'assets/mediaelement/build/mediaelement-and-player.min.js',
        'assets/mediaelement/build/mep.js',
        'assets/js/jquery.sticky-kit.min.js',
        'assets/js/owl.carousel.min.js',
        'assets/js/pace.min.js',
        'assets/js/smart.js',
        'assets/js/app.js'
    ]);

    function loadPlayer(tracks) {

        var playerElement = $('#playlist');
        var playlist = playerElement.mepPlaylist({
            audioHeight: '40',
            audioWidth: '100%',
            videoHeight: '40',
            videoWidth: '100%',
            audioVolume: 'vertical',
            mepPlaylistLoop: true,
            alwaysShowControls: true,
            mepSkin: 'mejs-audio',
            mepResponsiveProgress: true,
            mepSelectors: {
                playlist: '.playlist',
                track: '.track',
                tracklist: '.tracks'
            },
            features: [
                'meplike',
                'mepartwork',
                'mepcurrentdetails',
                'mepplaylist',
                'mephistory',
                'mepprevioustrack',
                'playpause',
                'mepnexttrack',
                'progress',
                'current',
                'duration',
                'volume',
                'mepicons',
                'meprepeat',
                'mepshuffle',
                'mepsource',
                'mepbuffering',
                'meptracklist',
                'mepplaylisttoggle',
                'youtube'
            ],
            mepPlaylistTracks: tracks
        });

        // get player, then you can use the player.mepAdd(), player.mepRemove(), player.mepSelect()
        var player = playlist.find('audio, video')[0].player;

        // event on play
        player.$node.on('play', function (e) {
            updateDisplay();
        });

        // event on pause
        player.$node.on('pause', function (e) {
            updateDisplay();
        });

        // update when pjax end
        $(document).on('pjaxEnd', function () {
            updateDisplay();
        });

        // simulate the play btn
        $(document).on('click.btn', '.btn-playpause', function (e) {
            e.stopPropagation();
            var self = $(this);
            if (self.hasClass('is-playing')) {
                self.removeClass('is-playing');
                player.pause();
            } else {
                var item = getItem(self);
                item && player.mepAdd(item, true);
            }
        });

        function updateDisplay() {
            $('[data-id]').removeClass('active').find('.btn-playpause').removeClass('is-playing').parent().removeClass('active');
            var track = player.mepGetCurrentTrack();
            if (!track || !track.id) return;
            var item = $('[data-id="' + track.id + '"]');
            if (player.media.paused) {
                item.removeClass('active').find('.btn-playpause').removeClass('is-playing').parent().removeClass('active');
            } else {
                item.addClass('active').find('.btn-playpause').addClass('is-playing').parent().addClass('active');
            }
        }

        // get item data, you can use ajax to get data from server
        function getItem(self) {
            var item = self.closest('.item');
            // track detail
            if (!item.attr('data-src')) {
                self.toggleClass('is-playing');
                $('#tracks').find('.btn-playpause').first().trigger('click');
                return false;
            }

            var obj = {
                meta: {
                    author: item.find('.item-author').find('a').text()
                    , authorlink: item.find('.item-author').find('a').attr('href')
                }
                , src: self.closest('[data-src]').attr("data-src")
                , thumb: {
                    src: item.find('.item-media-content').css("background-image").replace(/^url\(["']?/, '').replace(/["']?\)$/, '')
                }
                , title: item.find('.item-title').find('a').text()
                , link: item.find('.item-title').find('a').attr('href')
                , id: self.attr("data-id") ? self.attr("data-id") : self.closest('[data-id]').attr("data-id")
            };
            return obj;
        }

        // event on like btn
        player.$node.on('like.mep', function (e, trackidSet) {
            var trackid = trackidSet.replace('item-', '');
            like(trackid);
            $('[track-id=' + trackidSet + ']').toggleClass('is-like');
        });
    }

    FirebaseService.findAll({
        path: '/uploads',
        limit: 8,
    }, function (data) {
        if (!data.error) {
            var content = Array();
            var t = data.data;
            for (i = 0; i < t.length; i++) {
                var cData = {};
                var childData = t[i];
                cData.id = 'item-' + childData.key;
                cData.title = childData.track_name;
                cData.except = childData.track_details;
                cData.link = '#/track_detail/' + childData.key;
                cData.thumb = {'src': childData.track_art};
                cData.src = childData.track_source;
                var inner = {};
                cData.meta = inner;
                    inner.author = childData.artist_name;
                    inner.authorlink = '#/artist_detail/' + childData.track_artist;
                    inner.date = '30.05.2016';
                    inner.category = childData.genre_name;
                    inner.tag = "Holiday";
                    inner.play = 3200;
                    inner.like = 210;
                    inner.duration = childData.track_duration;
                content.push(cData);

            }
            loadPlayer(content);
        } else {
            console.log(data);
        }
    });

</script>

<div class="app dk" id="app">
    <div class="app-aside modal fade nav-dropdown">
        <!-- fluid app aside -->
        <div class="left navside grey dk" data-layout="column">
            <div class="navbar no-radius">
                <a href="#/discover" class="navbar-brand md">
                    <img src="../assets/img/flextream.png" style="margin-top: 8px; max-height: 28px;">
                </a>
            </div>
            <div data-flex class="hide-scroll">
                <nav class="scroll nav-stacked nav-active-primary">
                    <ul id="nav" class="nav" data-ui-nav>
                        <li class="nav-header hidden-folded">
                            <span class="text-xs text-muted">Main</span>
                        </li>
                        <li {{#discover}} class="active" {{/discover}}>
                        <a href="#/discover">
                                  <span class="nav-icon">
                                      <img src="assets/svg/discover.svg" style="height: 17px;">
                                  </span>
                            <span class="nav-text">Discover</span>
                        </a>
                        </li>
                        <li {{#browse}} class="active" {{/browse}}>
                        <a href="#/browse">
                  <span class="nav-icon">
                    <img src="assets/svg/browse.svg" style="height: 17px;">
                  </span>
                            <span class="nav-text">Browse</span>
                        </a>
                        </li>
                        <li {{#charts}} class="active" {{/charts}}>
                        <a href="#/charts">
                  <span class="nav-icon">
                    <img src="assets/svg/chart.svg" style="height: 17px;">
                  </span>
                            <span class="nav-text">Charts</span>
                        </a>
                        </li>

                        <li {{#albums}} class="active" {{/albums}}>
                        <a href="#/albums">
                  <span class="nav-icon">
                      <img src="assets/svg/album.svg" style="height: 17px;">
                  </span>
                            <span class="nav-text">Albums</span>
                        </a>
                        </li>

                        <li {{#artists}} class="active" {{/artists}}>
                        <a href="#/artists">
                  <span class="nav-icon">
                      <img src="assets/svg/artist.svg" style="height: 17px;">
                  </span>
                            <span class="nav-text">Artist</span>
                        </a>
                        </li>

                        <li>
                            <a data-toggle="modal" data-target="#search-modal">
                  <span class="nav-icon">
                    <i class="material-icons">
                      search
                    </i>
                  </span>
                                <span class="nav-text">Search</span>
                            </a>
                        </li>

                        <!-- collection -->
                        <div id="collection"></div>

                    </ul>
                </nav>
            </div>
            <div data-flex-no-shrink>

                <!-- profile -->
                <div id="profile"></div>

            </div>
        </div>
    </div>

    <div id="content" class="app-content white bg box-shadow-z2" role="main">
        <!-- mobile menu -->
        <div class="app-header hidden-lg-up white lt box-shadow-z1">
            <div class="navbar">
                <a href="#/discover" class="navbar-brand md">
                    <img src="../assets/img/flextream.png">
                </a>
                <ul class="nav navbar-nav pull-right">
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="#aside" class="nav-link">
                            <i class="material-icons">menu</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- mobile menu end -->

        <div id="player_element">
            <div class="app-footer app-player grey bg">
                <div id="playlist" class="playlist" style="width:100%"></div>
            </div>
        </div>

        <div class="app-body" id="viewContainer">
            {{body}}
        </div>
    </div>

    <div class="modal white lt fade" id="search-modal" data-backdrop="false">
        <a data-dismiss="modal" class="text-muted text-lg p-x modal-close-btn">&times;</a>
        <div class="row-col">
            <div class="p-a-lg h-v row-cell v-m">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action="search.html" class="m-b-md">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" placeholder="Type keyword"
                                       data-ui-toggle-class="hide" data-ui-target="#search-result">
                                <span class="input-group-btn">
                    <button class="btn b-a no-shadow white" type="submit">Search</button>
                  </span>
                            </div>
                        </form>
                        <div id="search-result" class="animated fadeIn">
                            <p class="m-b-md"><strong>23</strong> <span
                                    class="text-muted">Results found for: </span><strong>Keyword</strong></p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row item-list item-list-sm item-list-by m-b">
                                        <div class="col-xs-12">
                                            <div class="item r" data-id="item-3"
                                                 data-src="http://api.soundcloud.com/tracks/79031167/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                                                <div class="item-media ">
                                                    <a href="track.detail.html" class="item-media-content"
                                                       style="background-image: url('images/b2.jpg');"></a>
                                                </div>
                                                <div class="item-info">
                                                    <div class="item-title text-ellipsis">
                                                        <a href="track.detail.html">I Wanna Be In the Cavalry</a>
                                                    </div>
                                                    <div class="item-author text-sm text-ellipsis ">
                                                        <a href="artist.detail.html" class="text-muted">Jeremy Scott</a>
                                                    </div>
                                                    <div class="item-meta text-sm text-muted">
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="item r" data-id="item-6"
                                                 data-src="http://api.soundcloud.com/tracks/236107824/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                                                <div class="item-media ">
                                                    <a href="track.detail.html" class="item-media-content"
                                                       style="background-image: url('images/b5.jpg');"></a>
                                                </div>
                                                <div class="item-info">
                                                    <div class="item-title text-ellipsis">
                                                        <a href="track.detail.html">Body on me</a>
                                                    </div>
                                                    <div class="item-author text-sm text-ellipsis ">
                                                        <a href="artist.detail.html" class="text-muted">Rita Ora</a>
                                                    </div>
                                                    <div class="item-meta text-sm text-muted">
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="item r" data-id="item-2"
                                                 data-src="http://api.soundcloud.com/tracks/259445397/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                                                <div class="item-media ">
                                                    <a href="track.detail.html" class="item-media-content"
                                                       style="background-image: url('images/b1.jpg');"></a>
                                                </div>
                                                <div class="item-info">
                                                    <div class="item-title text-ellipsis">
                                                        <a href="track.detail.html">Fireworks</a>
                                                    </div>
                                                    <div class="item-author text-sm text-ellipsis ">
                                                        <a href="artist.detail.html" class="text-muted">Kygo</a>
                                                    </div>
                                                    <div class="item-meta text-sm text-muted">
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="item r" data-id="item-7"
                                                 data-src="http://api.soundcloud.com/tracks/245566366/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                                                <div class="item-media ">
                                                    <a href="track.detail.html" class="item-media-content"
                                                       style="background-image: url('images/b6.jpg');"></a>
                                                </div>
                                                <div class="item-info">
                                                    <div class="item-title text-ellipsis">
                                                        <a href="track.detail.html">Reflection (Deluxe)</a>
                                                    </div>
                                                    <div class="item-author text-sm text-ellipsis ">
                                                        <a href="artist.detail.html" class="text-muted">Fifth
                                                            Harmony</a>
                                                    </div>
                                                    <div class="item-meta text-sm text-muted">
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row item-list item-list-sm item-list-by m-b">
                                        <div class="col-xs-12">
                                            <div class="item">
                                                <div class="item-media rounded ">
                                                    <a href="artist.detail.html" class="item-media-content"
                                                       style="background-image: url('images/a7.jpg');"></a>
                                                </div>
                                                <div class="item-info ">
                                                    <div class="item-title text-ellipsis">
                                                        <a href="artist.detail.html">Richard Carr</a>
                                                        <div class="text-sm text-muted">6 songs</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="item">
                                                <div class="item-media rounded ">
                                                    <a href="artist.detail.html" class="item-media-content"
                                                       style="background-image: url('images/a3.jpg');"></a>
                                                </div>
                                                <div class="item-info ">
                                                    <div class="item-title text-ellipsis">
                                                        <a href="artist.detail.html">Joe Holmes</a>
                                                        <div class="text-sm text-muted">24 songs</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="item">
                                                <div class="item-media rounded ">
                                                    <a href="artist.detail.html" class="item-media-content"
                                                       style="background-image: url('images/a5.jpg');"></a>
                                                </div>
                                                <div class="item-info ">
                                                    <div class="item-title text-ellipsis">
                                                        <a href="artist.detail.html">Judy Woods</a>
                                                        <div class="text-sm text-muted">23 songs</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="item">
                                                <div class="item-media rounded ">
                                                    <a href="artist.detail.html" class="item-media-content"
                                                       style="background-image: url('images/a4.jpg');"></a>
                                                </div>
                                                <div class="item-info ">
                                                    <div class="item-title text-ellipsis">
                                                        <a href="artist.detail.html">Judith Garcia</a>
                                                        <div class="text-sm text-muted">13 songs</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="top-search" class="btn-groups">
                            <strong class="text-muted">Top searches: </strong>
                            <a href="#" class="btn btn-xs white">Happy</a>
                            <a href="#" class="btn btn-xs white">Music</a>
                            <a href="#" class="btn btn-xs white">Weekend</a>
                            <a href="#" class="btn btn-xs white">Summer</a>
                            <a href="#" class="btn btn-xs white">Holiday</a>
                            <a href="#" class="btn btn-xs white">Blue</a>
                            <a href="#" class="btn btn-xs white">Soul</a>
                            <a href="#" class="btn btn-xs white">Calm</a>
                            <a href="#" class="btn btn-xs white">Nice</a>
                            <a href="#" class="btn btn-xs white">Home</a>
                            <a href="#" class="btn btn-xs white">SLeep</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="share-modal" class="modal fade animate">
        <div class="modal-dialog">
            <div class="modal-content fade-down">
                <div class="modal-header">

                    <h5 class="modal-title">Share</h5>
                </div>
                <div class="modal-body p-lg">
                    <div id="share-list" class="m-b">
                        <a href="" class="btn btn-icon btn-social rounded btn-social-colored indigo" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="" class="btn btn-icon btn-social rounded btn-social-colored light-blue"
                           title="Twitter">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="" class="btn btn-icon btn-social rounded btn-social-colored red-600" title="Google+">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus"></i>
                        </a>

                        <a href="" class="btn btn-icon btn-social rounded btn-social-colored blue-grey-600"
                           title="Trumblr">
                            <i class="fa fa-tumblr"></i>
                            <i class="fa fa-tumblr"></i>
                        </a>

                        <a href="" class="btn btn-icon btn-social rounded btn-social-colored red-700" title="Pinterst">
                            <i class="fa fa-pinterest"></i>
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                    <div>
                        <input class="form-control" value="http://plamusic.com/slug"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loginAccess" class="modal black-overlay fade animate" data-backdrop="true2">
    <div class="modal-dialog modal_log">
        <div class="modal-content">
            <a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
            <div class="modal-header text-center">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body text-center p-lg">
                <div>
                    <div>
                        <div class="center-block w-xxl w-auto-xs p-y-md text-center">
                            <div class="p-a-md" id="signUpHolder">
                                <div id="showAlert">
                                </div>

                                <div id="form_access">
                                    <div id="social_access"></div>
                                    <script>includeElement('social_access', 'social_access');</script>

                                    <div id="formSU">
                                        <div class="m-y text-sm">
                                            OR
                                        </div>
                                        <form id="flextreamSignup" name="form" action="#">
                                            <div class="form-group">
                                                <input type="text" name="username"
                                                       data-validation="length alphanumeric"
                                                       data-validation-length="3-12"
                                                       data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)"
                                                       class="form-control" placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email_address"
                                                       data-validation="email" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password"
                                                       data-validation-strength="2"
                                                       data-validation="strength" class="form-control"
                                                       placeholder="Password">
                                            </div>
                                            <!--<div class="form-group">-->
                                            <!--<div class="g-recaptcha"-->
                                            <!--data-theme="dark"-->
                                            <!--data-callback = "g_recaptcha"-->
                                            <!--data-sitekey="6LfMyQsUAAAAACIJjZjNXsSvIe8FXXE3WsWVV25d"></div>-->
                                            <!--</div>-->
                                            <div class="m-b-md text-sm">
                                                <span class="text-muted">By clicking Sign Up, I agree to the</span>
                                                <a href="#/terms_of_services">Terms of service</a>
                                                <span class="text-muted">and</span>
                                                <a href="#/policy_privacy">Policy Privacy.</a>
                                            </div>
                                            <input type='submit' value="Sign Up" class="btn btn-lg p-x-lg"/>
                                        </form>
                                        <div class="p-y-lg text-center">
                                            <div>Already have an account? <span id="signInButton"
                                                                                style="cursor: pointer;"
                                                                                class="text-primary _600">Sign in</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="formSI" style="display: none">
                                        <div class="m-y text-sm">
                                            OR
                                        </div>
                                        <form name="form" action="#" id="flextreamSignIn">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email_address"
                                                       placeholder="Email" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" class="form-control"
                                                       placeholder="password" required>
                                            </div>
                                            <div class="m-b-md hide">
                                                <label class="md-check">
                                                    <input type="checkbox"><i class="primary"></i> Keep me signed in
                                                </label>
                                            </div>

                                            <input type='submit' value="Sign In" class="btn btn-lg p-x-lg"/>
                                        </form>
                                        <div class="m-y">
                                            <span id="forgetPassword"
                                                  style="cursor: pointer;"
                                                  class="_600">Forgot password?</span>
                                        </div>
                                        <div>
                                            Do not have an account?
                                            <span id="signUpButton"
                                                  style="cursor: pointer;"
                                                  class="text-primary _600">Sign up</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="formFG" style="display: none">
                                    <div>
                                        <h4>Forgot your password?</h4>
                                        <p class="text-muted m-y">
                                            Enter your email below and we will send you instructions on how to change
                                            your password.
                                        </p>
                                    </div>
                                    <form name="reset" action="#" id="flextreamforgetPassword">
                                        <div class="form-group">
                                            <input type="email" name="email_address" placeholder="Email"
                                                   class="form-control" required>
                                        </div>

                                        <input type='submit' value="Reset Password" class="btn btn-lg p-x-lg"/>
                                    </form>
                                    <div class="p-y-lg">
                                        Return to <span id="signInButtonFromForget"
                                                        style="cursor: pointer;"
                                                        class="text-primary _600">Sign in</span>
                                    </div>
                                </div>

                            </div>

                            <div id="spinner" class="_72qNE" style="margin: 120px;display: none">
                                <div class="_1d72G"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<script>

    var d = accessCurrentUser();
    var userId = d.userData.uid;

    FirebaseService.findOne({
        path: '/users/' + userId
    }, function (data) {
        if (!data.error) {
            data.user = data;
            includeElement('collection', 'collection_aside', data);
            includeElement('profile', 'profile_aside', data);
        } else {
            console.log(data);
        }
    });

    var selector = '#nav li';
    $(selector).on('click', function () {
        $(selector).removeClass('active');
        $(this).addClass('active');
    });

    $('#signInButton').click(function (e) {
        $('#formSU').hide(10);
        $('#formSI').show(10);
    });
    $('#forgetPassword').click(function (e) {
        $('.modal_log').css('background', "url('assets/img/flexbg_fg_modal.png') center top no-repeat #f1f1f1");
        $('#form_access').hide(10);
        $('#formFG').show(10);
    });
    $('#signUpButton').click(function (e) {
        $('#formSI').hide(10);
        $('#formSU').show(10);
    });
    $('#signInButtonFromForget').click(function (e) {
        $('.modal_log').css('background', "url('assets/img/flexbg_modal.png') center top no-repeat #f1f1f1");
        $('#form_access').show(10);
        $('#formFG').hide(10);
        $('#formSU').hide(10);
        $('#formSI').show(10);
    });

    $(document).on('click.btn', '.btn-favorite', function (e) {
        e.preventDefault();
        var parentTagartistId = $(this).parent().parent().parent().attr('data-id');
        var parentTagartistName = $(this).parent().parent().parent().prop('className');
        parentTagartistId = parentTagartistId.replace('item-', '');
        parentTagartistName = parentTagartistName.replace(' r', '');
        parentTagartistName = $(parentTagartistName + ' .item-info .item-author').text();

        like(parentTagartistId);
    });

    function like(parentTagartistId) {
        var user = firebase.auth().currentUser;
        var userId = user.uid;

        var dataSet = {};
        dataSet.node_id = parentTagartistId;

        FirebaseService.saveData({
            path: '/likes/' + userId,
            data: (dataSet)
        }, function (data) {
            if (!data.error) {
                console.log(data);
                //updateProfileWithLikeCount();
            } else {
                console.log(data);
            }
        });

//            function updateProfileWithLikeCount() {
//                FirebaseService.incrementValue({
//                    path: '/users/' + userId,
//                    data: ({incrementBy: 1})
//                }, function (data) {
//                    if (!data.error) {
//                        console.log(data);
//                    } else {
//                        console.log(data);
//                    }
//                });
//            }
    }


</script>