
{{#data}}
<tr>
    <td><input type="checkbox" value="{{node_id}}" name="track"></td>
    <td><img src="{{track_art}}" style="width: 32px;height: 32px;"></td>
    <td><button class="btn btn-success btn-sm"> {{key}} </button></td>
    <td> {{track_name}} </td>
    <td> {{genre_name}} </td>
    <td> {{album_name}} </td>
    <td> {{genre_name}} </td>
    <td> <button style="text-transform: capitalize;" class="btn btn-warning btn-sm" type="button"> {{track_type}} </button> </td>
    <td>
        <button class="btn btn-primary btn-sm" type="button"> Play/view Track </button>
    </td>
</tr>
{{/data}}