<!--<nav class="navbar navbar-default navbar-fixed-top">-->
<!--<div class="container">-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"-->
<!--aria-expanded="false" aria-controls="navbar">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="#"> SwallowJs </a>-->
<!--</div>-->
<!--<div id="navbar" class="collapse navbar-collapse">-->
<!--<ul class="nav navbar-nav">-->
<!--<li {{#home}} class="active" {{/home}}><a href="#/">Home</a></li>-->
<!--<li {{#about}} class="active" {{/about}}><a href="#/about"> About </a></li>-->
<!--</ul>-->
<!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
<!--</div>-->
<!--</nav>-->


<aside class="sm-side">
    <div class="user-head">
        <a class="inbox-avatar" href="javascript:;">
            <img src="assets/img/rounded_logo.png" style="width: 42px;margin: 10px;">
        </a>
        <div class="user-name">
            <h5><a href="#">Alireza Zare</a></h5>
            <span><a href="#">Info.Ali.Pci@Gmail.com</a></span>
        </div>
    </div>
    <div class="inbox-body hide">
        <a href="#/backend/list_playlists" class="btn btn-compose"> Playlists </a>
    </div>
    <ul class="inbox-nav inbox-divider">
        <li><a href="#/backend"><i class="fa fa-inbox"></i> Dashboard </a></li>
        <li><a href="#/backend/list_tracks"><i class="fa fa-inbox"></i> Tracks </a></li>
        <li><a href="#/backend/list_artists"><i class="fa fa-inbox"></i> Artists </a></li>
        <li><a href="#/backend/list_albums"><i class="fa fa-inbox"></i> Albums </a></li>
        <li><a href="#/backend/list_playlists"><i class="fa fa-envelope-o"></i> Playlists </a></li>
        <li>
            <a href="#"><i class="fa fa-bookmark-o"></i> Important</a>
        </li>
        <li>
            <a href="#"><i class=" fa fa-external-link"></i> Drafts <span
                    class="label label-info pull-right">30</span></a>
        </li>
        <li>
            <a href="#"><i class=" fa fa-trash-o"></i> Trash</a>
        </li>
    </ul>
    <ul class="nav hide nav-pills nav-stacked labels-info inbox-divider">
        <li><h4>Labels</h4></li>
        <li><a href="#"> <i class=" fa fa-sign-blank text-danger"></i> Work </a></li>
        <li><a href="#"> <i class=" fa fa-sign-blank text-success"></i> Design </a></li>
        <li><a href="#"> <i class=" fa fa-sign-blank text-info "></i> Family </a>
        </li>
        <li><a href="#"> <i class=" fa fa-sign-blank text-warning "></i> Friends </a>
        </li>
        <li><a href="#"> <i class=" fa fa-sign-blank text-primary "></i> Office </a>
        </li>
    </ul>


    <div class="inbox-body text-center hide">
        <div class="btn-group">
            <a class="btn mini btn-primary" href="javascript:;">
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <div class="btn-group">
            <a class="btn mini btn-success" href="javascript:;">
                <i class="fa fa-phone"></i>
            </a>
        </div>
        <div class="btn-group">
            <a class="btn mini btn-info" href="javascript:;">
                <i class="fa fa-cog"></i>
            </a>
        </div>
    </div>

</aside>