---
view: backend_interface.html
---

<div>
    <div class="row">
        <div class="col-md-3" id="track_counts"></div>
        <div class="col-md-3" id="artist_counts"></div>
    </div>
</div>

<script>

    FirebaseService.findAll({
        path: '/artists'
    }, function (data) {
        if (!data.error) {
            data.artist_counts = data.data.response_count;
            includeElement('artist_counts', 'backend_artist_counts', data);
        } else {
            console.log(data);
        }
    });

    FirebaseService.findAll({
        path: '/uploads'
    }, function (data) {
        if (!data.error) {
            data.track_counts = data.data.response_count;
            logMessage(data);
            includeElement('track_counts', 'backend_track_counts', data);
        } else {
            console.log(data);
        }
    });

</script>