---
view: backend_interface.html
---

<div>
    <div>
        <div>
            <h3>Playlists</h3>
            <div style="position: relative;">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/backend">Dashboard</a></li>
                    <li class="breadcrumb-item active"> Playlist </li>
                </ol>
                <a style="position: absolute;top: 9px;right: 10px;" href="#/backend/create_playlist"
                   class="btn btn-secondary btn-sm">
                    Create Playlist
                </a>
            </div>
        </div>

    </div>
</div>