---
view: backend_login_interface.html
---

<div class="container">
    <div>
        <div class="p-a-md">
            <div class="padding">
                <div class="navbar">
                    <div class="pull-center">
                        <a href="#/" class="navbar-brand md">
                            <img src="../assets/img/flextream.png" style="max-height: 48px;margin-top: 10px;">
                        </a>
                    </div>
                </div>

                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="b-t">
                <div class="center-block w-xxl w-auto-xs p-y-md text-center">
                    <br>
                    <br>

                    <div>
                        <h4>Admin Access</h4>
                    </div>
                    <br>
                    <div id="showAlert">
                    </div>
                    <div id="adminAccess">
                        <form name="form" action="#" id="flextreamAdminSignIn">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email_address" placeholder="Email"
                                       required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="password"
                                       required>
                            </div>
                            <div class="m-b-md hide">
                                <label class="md-check">
                                    <input type="checkbox"><i class="primary"></i> Keep me signed in
                                </label>
                            </div>

                            <input type='submit' value="Sign In" class="btn btn-lg p-x-lg"/>
                        </form>
                        <div class="m-y">
                            <a href="#/forgot-password" class="_600">Forgot password?</a>
                        </div>
                    </div>
                    <div id="spinner" class="_72qNE" style="margin: 120px;display: none">
                        <div class="_1d72G"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>