
<style>
    .black {
        background-color: #111114;
    }
</style>

<div class="app dk" id="app">
    <div class="container">
        <div class="padding">
            <div class="row">
                <div class="col-md-6">
                    <!--<div class="text-left">-->
                        <!--<a href="#/" class="navbar-brand md">-->
                            <!--<img src="assets/img/flextream.png" style="max-height: 48px;margin-top: 10px;">-->
                        <!--</a>-->
                    <!--</div>-->
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <h4 class="text-md block" style="font-weight: 400;font-size: 28px;padding-top: 34px;">
                            Tell Us About Your Kind Of Music
                        </h4>
                        <a href="#" class="btn "> Skip </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sector">
            <div class="row">
                <div class="col-md-3">
                    <div class="item-title text-ellipsis">
                        <div>
                            <div>
                                <div class="item-media rounded __web-inspector-hide-shortcut__">
                                    <a href="artist.detail.html" class="item-media-content"
                                       style="background-image: url('images/a4.jpg');"></a>
                                </div>
                                <div class="p-a-md text-center">
                                    <h4 class="text-md block" style=" font-weight: 400; font-size: 31px; line-height: 13px;">
                                        {{access.userData.displayName}} </h4>
                                    <p>
                                        <small> {{access.userData.email}} </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    </div>
                <div class="col-md-8">
                    <div>
                        <div>
                            <ul>
                                <li>
                                    <div>
                                        <div>
                                            <a href="artist.detail.html" class="item-media-content"
                                               style="background-image: url('images/a4.jpg');"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>