<script>
    loadCss('assets/css/owl.carousel.min.css');
    loadCss('assets/css/owl.theme.css');
    loadCss('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');
    loadScript([
        'assets/js/owl.carousel.min.js',
        //'assets/js/app.js'
    ]);
</script>

<div class="app dk" id="app">
    <div id="content" class="app-content" role="main">

        <!--<div class="app-header navbar-md black box-shadow-z1">-->
        <div id="app-header" class="app-header navbar-md">
            <div class="navbar" data-pjax>
                <a data-toggle="collapse" data-target="#navbar" class="navbar-item pull-right hidden-md-up m-r-0 m-l">
                    <i class="material-icons">menu</i>
                </a>
                <a href="index.html" class="navbar-brand md">
                    <img src="../assets/img/flextream.png">
                </a>

                <ul class="nav navbar-nav pull-right">
                    <li class="nav-item">
                        <a href="#/signup" class="nav-link">
                            Signup
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/signin" class="nav-link">
                    <span class="btn btn-sm rounded primary _600">
                      Signin
                    </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="app-body">

            <section style="position: relative">
                <div class="home-carousel owl-carousel black owl-theme owl-dots-bottom-center" data-ui-jp="owlCarousel"
                     style="height: 100vh;">
                    <div class="row-col home_slider"
                         style="height:100vh; background-image: url('../assets/img/daft_punk_2.jpg'); position: relative;">
                        <div class="inner_overlay_style"></div>
                        <div>
                            <div class="col-lg-8 text-left">
                                <div class="p-a-lg" style="position: relative;height: 100vh;">
                                    <div style="position: absolute;bottom: 3rem;">
                                        <h2 class="slider_title display-4 m-y-lg"> Music redefined. simple and fast
                                            responsive music platform </h2>
                                        <h6 class="slider_title_p text-muted m-b-lg">Experience music like never before
                                            Rock out while you’re at work. Kick back and relax at home.</h6>
                                        <a href="#/signin" class="btn circle btn-outline b-primary m-b-lg p-x-md"> Try
                                            it now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-col home_slider"
                         style="height:100vh;background-image: url('../assets/img/daft_punk_2.jpg'); position: relative;">
                        <div class="inner_overlay_style"></div>
                        <div>
                            <div class="col-lg-8 left">
                                <div class="p-a-lg" style="position: relative;height: 100vh;">
                                    <div style="position: absolute;bottom: 3rem;">
                                        <h2 class="slider_title display-4 m-y-lg"> Just hit play </h2>
                                        <h6 class="slider_title_p text-muted m-b-lg">Experience music like never before
                                            Rock out while you’re at work. Kick back and relax at home.</h6>
                                        <a href="#/signin" class="btn circle btn-outline b-primary m-b-lg p-x-md"> Try
                                            it now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='icon-scroll'></div>
            </section>

            <section id="intro">
                <div>
                    <div>
                        <div class="text-center">
                            <h3>Keep track of all your favorite tracks.</h3>
                            <p class="intro_sub">Flextream keeps all your best tracks together, so it’s there when
                                you’re ready to listen
                                while improving “Your Music” experience anytime any day</p>
                        </div>
                    </div>
                    <div class="core_qoute container">
                        <div class="row-col">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <div><img src="../assets/svg/icon-music.svg"></div>
                                    <div><h5>Explore</h5></div>
                                    <p>Get ready for high sound quality. like never before</p>
                                </div>
                            </div>
                            <div class="col-sm-4 middle">
                                <div class="text-center">
                                    <div><img src="../assets/svg/icon-share.svg"></div>
                                    <div><h5>Listen (and Share)</h5></div>
                                    <p>Listen and get up and personal with your favorite Artists.</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <div><img src="../assets/svg/icon-sync.svg"></div>
                                    <div><h5>Save</h5></div>
                                    <p>Listen and get up and personal with your favorite Artists.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="start" style="position: relative">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-7">
                                <div class="text-left">
                                    <span class="span_header_style">Unforgettable feelings through a quality music.</span>
                                    <h3 class="white-color">Start The New Adventure</h3>
                                    <p class="intro_sub white-color " style="width: 100%;">Flextream keeps all your
                                        best tracks together, so it’s there
                                        when
                                        you’re ready to listen
                                        while improving “Your Music” experience anytime any day</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <figure class="eraphone_Image"></figure>
                </div>
            </section>

            <section id="play_section">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h2 class="slider_title display-4 m-y-lg" style="font-size: 98px;"> Just Press
                                        Play </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <div class="white dk pos-rlt">
            <div class="p-a-md">
                <div class="footer p-y-md text-primary-hover">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="clearfix m-b-lg">
                                <a href="index.html" class="navbar-brand md">
                                    <img src="../assets/img/flextream_footer.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <h6 class="text-u-c m-b text-muted">About</h6>
                            <div class="m-b-md">
                                <ul class="nav l-h-2x _600">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Mobile apps</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Jobs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <h6 class="text-u-c m-b text-muted">Links</h6>
                            <div class="m-b-md">
                                <ul class="nav l-h-2x _600">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Help</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Support</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Legal</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Copyright</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <h6 class="text-u-c m-b text-muted">Connect</h6>
                            <div class="m-b-md">
                                <ul class="nav l-h-2x _600">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Facebook</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Twitter</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Google+</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <h6 class="text-u-c m-b text-muted">Subscribe</h6>
                            <p>Do not want to miss our newsletter?</p>
                            <form class="m-b-lg">
                                <input type="text" class="form-control" placeholder="Your email">
                                <button type="submit" class="btn btn-sm btn-outline b-dark rounded m-t">Subscribe
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="b b-b m-b m-t-lg"></div>
                    <div class="row">
                        <div class="col-sm-8">
                            <a href="#" class="text-muted text-sm">Cookies</a>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-sm-right text-xs-left">
                                <small class="text-muted">&copy; Copyright. All rights reserved.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.home-carousel').owlCarousel({
        animateOut: 'fadeOut',
        //animateIn: 'zoomOutLeft',
        items: 1,
        loop: true,
        autoplay: true,
        nav: false
    });

    $(window).scroll(function (event) {
        var yOffset = window.pageYOffset;
        var breakpoint = 10;
        if (yOffset > breakpoint) {
            $("#app-header").addClass('black_nav');
        } else {
            $("#app-header").removeClass('black_nav');
        }
    });
</script>