---
view: landing_interface.html
---


<script>
    loadScript([
        'assets/js/pace.min.js',
        'assets/js/jquery.sticky-kit.min.js',
    ]);


    $(function () {
        var hash = window.location.hash;
        hash = hash.split("#");
        var tab = hash.pop();
        switch (tab) {
            case 'profile':
                activaTab('profile_set');
                break;
            default:
                activaTab('likes');
        }

        function activaTab(tab) {
            $('#myTabs a[href="#' + tab + '"]').tab('show');
        };
    });
</script>

<div class="pos-rlt">
    <div class="page-bg" data-stellar-ratio="2" style="background-image: url({{track_art}});height: 80vh;"></div>
</div>

<div class="page-content">
    <div class="padding b-b">
        <div class="row-col">
            <div class="col-sm w w-auto-xs m-b">
                <div class="item w rounded">
                    <div class="item-media">
                        <div class="item-media-content" style="background-image: url('images/a3.jpg');"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="p-l-md no-padding-xs">
                    <h1 class="page-title">
                        <span class="h1 _800" style="text-transform: capitalize;">{{username}}</span>
                    </h1>
                    <p class="item-desc text-ellipsis text-muted" >{{email_address}}</p>
                    <div class="item-action m-b">
                        <a href="#" class="btn hide btn-sm rounded primary">Upload</a>
                        <a href="#" class="btn btn-sm rounded white">Edit Profile</a>
                    </div>
                    <div class="block clearfix m-b">
                        <span>{{likes}}</span> <span class="text-muted">Likes</span>, <span>23</span> <span class="text-muted">Tracks</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-col">
        <div class="col-lg-9 b-r no-border-md">
            <div class="padding p-y-0 m-b-md">
                <div class="nav-active-border b-primary bottom m-b-md m-t">
                    <ul id="myTabs" class="nav l-h-2x" data-ui-jp="taburl">
                        <li class="nav-item m-r inline">
                            <a class="nav-link" href="#likes" data-toggle="tab" data-target="#likes">Likes</a>
                        </li>
                        <li class="nav-item m-r inline">
                            <a class="nav-link" href="#profile_playlist" data-toggle="tab" data-target="#profile_playlist">Playlists</a>
                        </li>
                        <li class="nav-item m-r inline">
                            <a class="nav-link" href="#profile_set" data-toggle="tab" data-target="#profile">Profile</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="likes">
                        <div class="row item-list item-list-by m-b">
                            <!-- tracks likes -->
                            <div id="tracks_likes" class="row m-b"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="profile_playlist">
                        <div class="row m-b">
                            <div class="col-xs-4 col-sm-4 col-md-3">
                                <div class="item r" data-id="item-2"
                                     data-src="http://api.soundcloud.com/tracks/259445397/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                                    <div class="item-media ">
                                        <a href="track.detail.html" class="item-media-content"
                                           style="background-image: url('images/b1.jpg');"></a>
                                        <div class="item-overlay center">
                                            <button class="btn-playpause">Play</button>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-overlay bottom text-right">
                                            <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                            <a href="#" class="btn-more" data-toggle="dropdown"><i
                                                    class="fa fa-ellipsis-h"></i></a>
                                            <div class="dropdown-menu pull-right black lt"></div>
                                        </div>
                                        <div class="item-title text-ellipsis">
                                            <a href="track.detail.html">Fireworks</a>
                                        </div>
                                        <div class="item-author text-sm text-ellipsis hide">
                                            <a href="artist.detail.html" class="text-muted">Kygo</a>
                                        </div>
                                        <div class="item-meta text-sm text-muted">
              		          <span class="item-meta-stats text-xs ">
              		          	<i class="fa fa-play text-muted"></i> 30
              		          	<i class="fa fa-heart m-l-sm text-muted"></i> 10
              		          </span>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-3">
                                <div class="item r" data-id="item-10"
                                     data-src="http://api.soundcloud.com/tracks/237514750/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                                    <div class="item-media ">
                                        <a href="track.detail.html" class="item-media-content"
                                           style="background-image: url('images/b9.jpg');"></a>
                                        <div class="item-overlay center">
                                            <button class="btn-playpause">Play</button>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-overlay bottom text-right">
                                            <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                            <a href="#" class="btn-more" data-toggle="dropdown"><i
                                                    class="fa fa-ellipsis-h"></i></a>
                                            <div class="dropdown-menu pull-right black lt"></div>
                                        </div>
                                        <div class="item-title text-ellipsis">
                                            <a href="track.detail.html">The Open Road</a>
                                        </div>
                                        <div class="item-author text-sm text-ellipsis hide">
                                            <a href="artist.detail.html" class="text-muted">Postiljonen</a>
                                        </div>
                                        <div class="item-meta text-sm text-muted">
              		          <span class="item-meta-stats text-xs ">
              		          	<i class="fa fa-play text-muted"></i> 860
              		          	<i class="fa fa-heart m-l-sm text-muted"></i> 240
              		          </span>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-3">
                                <div class="item r" data-id="item-1"
                                     data-src="http://api.soundcloud.com/tracks/269944843/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                                    <div class="item-media ">
                                        <a href="track.detail.html" class="item-media-content"
                                           style="background-image: url('images/b0.jpg');"></a>
                                        <div class="item-overlay center">
                                            <button class="btn-playpause">Play</button>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-overlay bottom text-right">
                                            <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                            <a href="#" class="btn-more" data-toggle="dropdown"><i
                                                    class="fa fa-ellipsis-h"></i></a>
                                            <div class="dropdown-menu pull-right black lt"></div>
                                        </div>
                                        <div class="item-title text-ellipsis">
                                            <a href="track.detail.html">Pull Up</a>
                                        </div>
                                        <div class="item-author text-sm text-ellipsis hide">
                                            <a href="artist.detail.html" class="text-muted">Summerella</a>
                                        </div>
                                        <div class="item-meta text-sm text-muted">
              		          <span class="item-meta-stats text-xs ">
              		          	<i class="fa fa-play text-muted"></i> 3200
              		          	<i class="fa fa-heart m-l-sm text-muted"></i> 210
              		          </span>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="profile_set">
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-3 form-control-label text-muted">Location</div>
                                <div class="col-sm-9"><input value="Earth" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3 form-control-label text-muted">Website</div>
                                <div class="col-sm-9"><input placeholder="http://" class="form-control"></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3 form-control-label text-muted">Music Type</div>
                                <div class="col-sm-9">
                                    <select class="form-control c-select">
                                        <option>Blue</option>
                                        <option>Electro</option>
                                        <option>Pop</option>
                                        <option>Soul</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 w-xxl w-auto-md">
            <div class="padding" style="bottom: 60px;" data-ui-jp="stick_in_parent">
                <div class="item-info-overlay">
                    <div id="mixSection"></div>
                </div>

                <div id="footer_element"></div>
                <script>includeElement('footer_element', 'footer-element');</script>
            </div>
        </div>
    </div>
</div>

<script>

    $("#sidebar_stick").stick_in_parent();
    //swallowLoading({element: 'tracks_likes', show: true});

    var userId = '{{node_id}}';
    getUserLikeTracks(userId, function (data) {
        var like = data.like;
        var duration;
        if(like.track_duration) {
            duration = like.track_duration;
        } else {
            duration = '';
        }
        //$('#likes_count').html(data.count);

        //includeElement('tracks_likes', 'like_tracks', data);
        var viewSet = '<div class="col-xs-12"> ' +
                            '<div class="item r" data-id="item-'+like.node_id+'" data-src="'+like.track_source+'"> ' +
                                '<div class="item-media" style="width: 62px; height: 62px;"> ' +
                                    '<a href="#/track_detail/'+like.node_id+'" class="item-media-content"  style="background-image: url('+like.track_art+');"></a> ' +
                                    '<div class="item-overlay center"> ' +
                                        '<button class="btn-playpause">Play</button> ' +
                                    '</div> ' +
                                '</div> ' +
                                '<div class="item-info" style="min-height: 64px;"> ' +
                                    '<div class="item-overlay bottom text-right"> ' +
                                        '<a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a> ' +
                                        '<div class="dropdown-menu pull-right black lt"></div> ' +
                                        '<a href="#" class="btn-remove"><i class="fa fa-remove"></i></a> ' +
                                    '</div> ' +
                                '<div class="item-title text-ellipsis"> <a href="#/track_detail/'+like.node_id+'">'+like.track_name+'</a> </div> ' +
                                '<div class="item-author text-sm text-ellipsis"> <a href="#/artist_detail/'+like.track_artist+'" class="text-muted">by '+like.artist_name+'</a> | <strong><a href="#/album_detail/'+like.track_album+'" class="text-muted"> '+like.album_name+'</a></strong> </div> ' +
                                    '<div class="hide item-meta text-sm text-muted"> ' +
                                        '<span class="item-meta-category"><a href="browse.html" class="label">Soul</a></span> ' +
                                        '<span class="item-meta-date text-xs">02.04.2016</span> ' +
                                    '</div> ' +
                                    '<div class="item-action visible-list" style="margin-top: 2px;"> ' +
                                        '<span style="font-size: 19px;"> '+duration+' </span> ' +
                                    '</div> ' +
                                '</div> ' +
                            '</div> ' +
                    '</div>';
        $('#tracks_likes').append(viewSet).hide().show('slow');
    });

    function getUserLikeTracks(userId, callBackData) {
        var likes = firebaseBaseDatabase.ref('likes/' + userId).orderByPriority();
        likes.on('child_added', function (snapshot) {
            var count = snapshot.numChildren();
            var key = snapshot.key;
            firebaseBaseDatabase.ref('uploads').child(key).once('value', function (innerSnapshot) {
                var obj = innerSnapshot.val();
                callBackData({like:obj, count: count});
            });
        });
    }


    $('.track_lazy').lazy({
        effect: "fadeIn",
        effectTime: 2000,
        combined: true,
        threshold: 0,
        bind: "event",
        //placeholder: "assets/img/loading_gif.gif"
    });

    //get mix
    FirebaseService.findAll({
        path: '/mixes',
        limit: 6
    }, function (data) {
        if (!data.error) {
            data.mixData = data.data;
            includeElement('mixSection', 'discover_mix', data);
        } else {
            console.log(data);
        }
    });

</script>